@model Wedding

<div class="row text-center">
    <div class="col-6">
        <h1>Update Wedding</h1>
        <form action="/wedding/update/@Model.WeddingId" method="post">
        <div class="form-group">
            <label for="WedderOne">Wedder One: </label>
            <input asp-for="WedderOne" class="form-control">
            <span asp-validation-for="WedderOne" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="WedderTwo">Wedder Two: </label>
            <input asp-for="WedderTwo" class="form-control">
            <span asp-validation-for="WedderTwo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="WedDate">Date: </label>
            <input asp-for="WedDate" class="form-control">
            <span asp-validation-for="WedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="WedAddress">Wedding Address: </label>
            <textarea asp-for="WedAddress" class="form-control" cols="50" rows="3"></textarea>
            <span asp-validation-for="WedAddress" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <input type="submit" value="Update Wedding">
        </div>
    </form>
    </div>
    <div class="col-6" style="margin-top: 20px;">
        <a href="/dashboard" style="margin-right: 30px;" >Dashboard</a>
        <a href="/" >Log Out</a>
    </div>
</div>